/* Start Common Style */
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px;
    margin : 0px;
}
:root {
    --main-color: #FF9800;
    --main-trans: 0.3s;
}
body {
    font-family: 'Open Sans', sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
.container{
    padding: 0 15px;
    margin: auto;
    position: relative;
}
/* End Common Style */

/* ------------------------------------------------------ */

/* Start Setting Box */
.settings-box {
    position: fixed;
    z-index: 100;
    background: rgb(255 255 255 / 100%);
    width: 200px;
    min-height: 100vh;
    top: 0;
    left: -200px;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    border: 3px solid var(--main-color);
    border-left-color: #fff;
}
.settings-box.open {
    left: 0;
}
.settings-box .toggle-setting{
    position: absolute;
    top: 100px;
    right: -36px;
    background: #fff;
    cursor: pointer;
    border-style: solid;
    border-color: var(--main-color) var(--main-color) var(--main-color) transparent;
    border-width: 3px;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.settings-box .toggle-setting i{
    width: 32px;
    padding: 8px;
}
.settings-box .option-box {
    padding: 12px;
    background: #eee;
    margin: 10px;
    text-align: center;
}
.settings-box .option-box h4{
    color: #666;
    font-size: 14px;
}
.settings-box .option-box .colors-list {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 12px auto 5px;
}
.settings-box .option-box .colors-list li{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    background-color: #333;
    opacity: .4;
    border: 3px solid #eee;
}
.settings-box .option-box .colors-list li:first-child{
    background-color: #FF9800;
}
.settings-box .option-box .colors-list li:nth-child(2){
    background-color: #FFEB3B;
}
.settings-box .option-box .colors-list li:nth-child(3){
    background-color: #E91E63;
}
.settings-box .option-box .colors-list li:nth-child(4){
    background-color: #2196f3;
}
.settings-box .option-box .colors-list li:last-child{
    background-color: #4CAF50
}
.settings-box .option-box .colors-list li.active{
    opacity: 1;
    border: 3px solid #fff;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
    display: inline-block;
    width: 50px;
    background-color: #333;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    opacity: .5;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.settings-box .option-box .yes {
    background-color: teal;
}
.settings-box .option-box .yes:hover {
    opacity: 1;
}
.settings-box .option-box .no {
    background-color: tomato;
}
.settings-box .option-box .no:hover {
    opacity: 1;
}
.settings-box .option-box span.active {
    opacity: 1;
}
.settings-box .reset-options {
    width: 90%;
    margin: 10px auto;
    display: block;
    padding: 10px;
    background: tomato;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.settings-box .reset-options:hover {
    background: rgba(248, 114, 90, 0.9);
}
/* End Setting Box */

/* Start Navigation Bullets */
.nav-bullets {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
    margin-right: 10px;
}
.nav-bullets .bullet {
    width: 18px;
    height: 18px;
    background-color: transparent;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    position: relative;
}
.nav-bullets .bullet.active-bullet {
    background-color: var(--main-color);
}
.nav-bullets .bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    border: 3px solid var(--main-color);
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.nav-bullets .bullet .tool-tip{
    width: 120px;
    background-color: var(--main-color);
    color: #fff;
    padding: 8px 10px;
    position: absolute;
    right: 38px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    opacity: 0;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.nav-bullets .bullet:hover .tool-tip {
    opacity: 1;
}
.nav-bullets .bullet .tool-tip::before{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 10px;
    top: 50%;
    width: 0;
    height: 0;
    right: -20px;
    border-color: transparent transparent transparent var(--main-color);
    transform: translateY(-50%);
}
/* End Navigation Bullets */


/* ### Start Landing Page ### */
.landing-page {
    min-height: 100vh;
    background-image: url("../images/01.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}

.landing-page .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
}
.landing-page .container {
    position: initial;
}
header {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
header .logo {
    flex-basis: 30%;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Borel', cursive;
    margin-top: 25px;
    user-select: none;
}
header .links {
    display: flex;
    flex-basis: 40%;
    gap: 20px;
    justify-content: end;
    font-size: 15px;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
header .links a{
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header .links a:hover,
header .links a.active  {
    color: var(--main-color);
}
.landing-page .introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    text-align: center;
    width: 80%;
}
.landing-page .introduction-text h1{
    font-size: 35px;
}
.landing-page .introduction-text h1 span{
    color: var(--main-color);
}
.landing-page .introduction-text p{
    line-height: 1.6;
    font-size: 20px;
}

header .links-container .toggle-menue {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    display: none;
}
header .links-container .toggle-menue:focus {
    outline: none;
}
header .toggle-menue.menu-active::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #fff transparent;
    bottom: 9px;
    right: 50px;
}
header .links-container .toggle-menue span{
    display: block;
    background-color: #fff;
    height: 4px;
    margin-bottom: 4px;
}

/* ### End Landing Page ### */


/* ### Start AboutUs ### */
.about-us {
    padding: 50px 0;
}
.about-us .container{
    padding: 50px 0px;
    display: flex;
}
.about-us .info-box {
    flex: 1;
    padding: 30px;
}
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}
.about-us .info-box p{
    line-height: 1.8;
    color: #767676;
}
.about-us .image {
    flex: 1;
    text-align: center;
}
.about-us .image img{
    width: 300px;
}
/* ### Start AboutUs ### */


/* ### Start Skills ### */
.skills {
    padding: 50px 0;
    background-color: #eee;
}
.skills h2{
    font-weight: bold;
    font-size: 38px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.skills .skill-box {
    display: flex;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
.skills .skill-box .skill-name{
    font-weight: bold;
    width: 150px;
    text-align: center;
    line-height: 30px;
}
.skills .skill-box .skill-progress{
    height: 30px;
    width: calc(100% - 110px);
    background-color: #f6f6f6;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    overflow: hidden;
}
.skills .skill-box span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
    width: 0%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
/* ### End Skills ### */


/* ### Start Gallery ### */
.gallery {
    padding: 50px 0;
}
.gallery h2{
    font-weight: bold;
    font-size: 38px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.gallery .images-box{
    text-align: center;
}
.gallery .images-box img{
    width: 200px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.7);
    top: 0;
    left: 0;
    z-index: 1000;
}
.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    z-index: 1005;
    background-color: #fff;
    padding: 20px;
}
.popup-box img {
    max-width: 100%;
}
.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}
.popup-box .close-button {
    font-size: 20px;
    position: absolute;
    top: -15px;
    right: -15px;
    background: var(--main-color);
    color: #fff;
    font-weight: bold;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
/* ### End Gallery ### */

/* Start Timeline */
.timeline {
    padding: 50px 0;
    background-color: #eee;
}
.timeline .container::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    background-color: var(--main-color);
}
.timeline .year {
    margin: 0px auto 55px;
    position: relative;
    width: 50px;
    background-color: var(--main-color);
    color: #fff;
    z-index: 2;
    text-align: center;
    border-radius: 4px;
    padding: 2px 5px;
    font-weight: bold;
    top: 40px;
}
.timeline .timeline-content {
    position: relative;
    display: flex;
    flex-direction: column;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
}
.timeline .timeline-content .right {
    align-self: flex-end;
}
.timeline .timeline-content .left::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    border: 3px solid var(--main-color);
    right: -35px;
    top: 20px;
}
.timeline .timeline-content .right::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    border: 3px solid var(--main-color);
    left: -35px;
    top: 20px;
}
.timeline .timeline-content .left h3,
.timeline .timeline-content .right h3 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}
.timeline .timeline-content .left p,
.timeline .timeline-content .right p {
    color: #666;
    line-height: 1.6;
}
.timeline .timeline-content .left .content,
.timeline .timeline-content .right .content  {
    position: relative;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before  {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 10px;
    top: 0px;
    width: 0;
    height: 0;
}
.timeline .timeline-content .left .content::before  {
    right: -39px;
    border-color: transparent transparent transparent #fff;
}
.timeline .timeline-content .right .content::before  {
    left: -39px;
    border-color: transparent #fff transparent transparent ;
}
/* End Timeline */

/* Start Features */
.feat {
    padding: 80px 0;
}
.feat h2{
    font-weight: bold;
    font-size: 38px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.feat .parent-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 45px;
}
.feat .parent-box .feat-box{
    flex-basis: 30%;
    text-align: center;
}
.feat .parent-box .feat-box img{
    width: 128px;
}
.feat .parent-box .feat-box h3{
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.feat .parent-box .feat-box h3::before{
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: -20px;
}
.feat .parent-box .feat-box p{
    width: 90%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/* End Features */

/* Start Testimonials */
.testi {
    position: relative;
    padding: 80px;
}
.testi::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
}
.testi::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}
.testi h2{
    font-weight: bold;
    font-size: 38px;
    color: #fff;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
.testi .testi-content{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.testi .ts-box{
    position: relative;
    flex-basis: 32%;
    background: #fff;
    padding: 20px;
    font-size: 20px;
}
.testi .ts-box > p {
    margin: 0 0 24px;
    line-height: 1.3;
    font-size: 20px;
    color: #707070;
    font-style: italic;
}
.testi .ts-box > .person-info{
    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: center;
}
.testi .ts-box > .person-info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testi .ts-box > .person-info .info{
    flex: 1;
}
.testi .ts-box > .person-info h4 {
    margin: 0px 0 14px;
}
.testi .ts-box > .person-info p {
    color: #484848;
}
/* End Testimonials */

/* Start Contact */
.contact {
    min-height: 500px;
    background-image: url("../images/contact.png");
    background-size: cover;
    padding: 80px 0;
    position: relative;
}
.contact .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 60%);
}
.contact .container {
    z-index: 2;
}
.contact h2 {
    font-weight: bold;
    font-size: 38px;
    color: var(--main-color);
    margin: 0 0 30px;
    text-align: center;
}
.contact form {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 40px;
}
.contact form .left,
.contact form .right {
    flex-basis: 50%;
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    background-color: rgb(218 218 218 / 19%);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form input:focus,
.contact form textarea:focus {
    border-color: var(--main-color);
}
.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
/* End Contact */

/* Start Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}
footer span{
    color: var(--main-color);
}
/* End Footer */


/* ---------------------------------------- */

/* Start Grid System */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* For Elements */

@media (min-width: 992px) {
    .testi .ts-box {
        position: relative;
        flex-basis: 32%;
        background: #fff;
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }
    .testi .ts-box > p{
    font-size: 18px;
    }
    .testi .ts-box > .person-info {
    flex-direction: column;
    }
    .testi .ts-box > .person-info p {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    header {
        padding: 25px 40px;
    }
    header .links {
        transform: scaleY(0);
        transform-origin: top left;
        padding: 18px;
        background: #fff;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        border-radius: 4px;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        z-index: 1010;
    }
    header .links-container .toggle-menue {
        display: block;
    }
    header .logo {
        flex-basis: 50%;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        margin-top: 0;
    }
    header .links.open {
        transform: scaleY(1);
}
    header .links.open li a{
    color: var(--main-color);
    font-weight: bold;
    }
    .testi h2 {
        margin: 0 0 40px;
        text-align: center;
    }
    .testi .ts-box {
        flex-basis: 100%;
    }
    .testi .ts-box > .person-info .info {
    flex: initial;
    }
    .testi .ts-box > .person-info {
        justify-content: center;
        gap: 18px;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .about-us .container {
    flex-direction: column;
    text-align: center;
    }
    .about-us .info-box {
    flex: 1;
    padding: 0;
    }
    .timeline .timeline-content .left, .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 70px;
}
    .timeline .timeline-content .right {
        align-self: initial;
    }
    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before {
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    }
    .timeline .year {
        margin: 0px auto 100px;
    }
    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before {
    left: 50%;
    border-color: transparent transparent  #fff transparent;
    transform: translateX(-50%);
    top: -39px;
    }
    .timeline .timeline-content .right.mt-10,
    .timeline .timeline-content .left.mt-10{
        margin-bottom: 10px;
    }
    .feat .parent-box .feat-box {
    flex-basis: 45%;
    }
    .contact form {
        flex-direction: column;
        gap: 0;
    }
    .contact form .left, .contact form .right {
        width: 100%;
    }
    .popup-box {
        width: 90%;
    }
}
@media (max-width: 630px) {
    .settings-box .toggle-setting.move{
    transform: translateY(300px);
    }
    .landing-page .introduction-text {
        width: 95%;
    }
}
@media (max-width: 575px) {
    .landing-page .introduction-text h1 {
        font-size: 26px;
    }
    .skills .skill-box {
    padding: 10px 5px;
    }
    .skills .skill-box .skill-name {
        width: 80px;
        font-size: 12px;
    }
    .feat .parent-box .feat-box {
        flex-basis: 100%;
    }
    .testi .ts-box > .person-info {
        flex-direction: column;
        text-align: center;
    }
    .testi {
        position: relative;
        padding: 80px 0;
    }
}
/* End Grid System */